models/
dataset/
.DS_Store
__pycache__*
*.csv
*.png
deneme*
data/
*.log
*__pycache__*
analysis/
!RewardModel/reward_model/analysis/
!RewardModel/reward_model/analysis/*.py
*.ipynb
prot2mol_env/
wandb/
outputs/
